extends layouts/main
include mixins/gameBlock

block content
    .search_header
        h1 Your searching for: #{searchingBy}
    hr
    .search-games
        if searchedGames.length === 0
            h1 No Games Found.
        each item in searchedGames
            +gameBlock({
                id: item.id,
                title:item.title,
                company:item.company,
                releaseDate:item.releaseDate,
                platform:item.platform,
                mainImg:item.mainImg,
                genres:item.genres,
                link:item.link
            })