extends layouts/main

block content
    .user-detail
        .user-detail__header
            img.user-avatar(src=`/${user.avatarUrl}`)
        .user-detail__main
            h4.user-name #{user.name}
        .user-detail__btns
            a(href=`/users${routes.changePassword}`)
                button Change password
            a(href=`/users${routes.editProfile}`) 
                button Edit Profile
            
