.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blackBackColor;
  flex-direction: column;
  .footer__icon {
    margin-bottom: 10px;
    font-size: 60px;
  }
  .footer__text {
    font-size: 20px;
  }
}
