.header {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: repeat(1, 0.65fr 2.6fr 0.65fr); // 1줄에 1:2:1 비울
  background-color: $blackBackground;
  position: fixed;
  top: 0;
  .header__column {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    &:first-child {
      // 메인 로고 바
      min-width: 120px;
      a {
        display: flex;
        align-items: center;
        margin-left: 5px;
        font-size: 40px;
        span {
          padding-left: 10px;
          padding-top: 4px;
          font-family: "Black Han Sans", sans-serif;
          font-size: 30px;
        }
      }
    }
    &:nth-child(2) {
      // 검색 바
      justify-content: center;
      form {
        width: 100%;
        height: 80%;
        max-width: 700px;
        input {
          width: 100%;
          height: 100%;
          padding: 10px;
          padding-left: 15px;
          border-radius: 10px;
          font-size: 18px;
          font-weight: 600;
          background-color: $searchBg;
          color: $font;
          &::placeholder {
            font-weight: 300;
            color: rgba(255, 255, 255, 0.39);
          }
        }
      }
    }
    &:last-child {
      // 유저 바
      min-width: 140px;
      padding-right: 5px;
      justify-content: flex-end;
      ul {
        display: flex;
        li {
          margin-left: 10px;
          font-weight: 600;
        }
      }
    }
  }
}
