.game-detail {
  margin: 0px 80px 0px 80px;
  height: 100%;
  .game__info {
    .title {
      padding-top: 20px;
      font-size: 60px;
    }
    .img-frame {
      width: 100%;
      height: 500px;
      margin-top: 20px;
      border-top: 1px solid $grayBorder;
      border-bottom: 1px solid $grayBorder;
      display: flex;
      justify-content: center;
      background: linear-gradient(
        to right,
        rgba(41, 41, 41, 1) 0%,
        rgba(17, 17, 17, 1) 45%,
        rgba(17, 17, 17, 1) 55%,
        rgba(41, 41, 41, 1) 100%
      );
      img {
        height: 100%;
      }
    }
    :nth-child(n + 3) {
      width: 90%;
      margin: 0 auto;
      padding: 20px 0px 20px 0px;
      border-bottom: 1px solid $grayBorder;
      text-align: center;
    }
    .link {
      border: none;
    }
  }
  .game__video {
    width: 100%;
    height: 500px;
    border-top: 1px solid $grayBorder;
    border-bottom: 1px solid $grayBorder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
      to right,
      rgba(41, 41, 41, 1) 0%,
      rgba(17, 17, 17, 1) 50%,
      rgba(41, 41, 41, 1) 100%
    );
    font-size: 30px;
    .videos {
      width: 720px;
      overflow: hidden;
      ul {
        display: flex;
        transition: transform 0.5s ease;
      }
    }
    .angleButton {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.5s ease;
      cursor: pointer;
      &.left {
        height: 100%;
        margin-left: 30px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.199);
        }
      }
      &.right {
        height: 100%;
        margin-right: 30px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.199);
        }
      }
      i {
        font-size: 100px;
        color: $grayBorder;
      }
    }
  }
  .game__comments {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid $grayBorder;
    padding: 100px 0px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: 25px;
  }
}
