// 이 파일은 scss에서 사용할 variable(변수)들을 정의하는 파일.
$blackBackColor: #111111;
$mainBackColor: #292929;
$blockBackColor: #000000;
$searchbackColor: #292929;

$blockBorder: rgba(60, 60, 60, 0.3);
$grayBorder: rgba(206, 206, 206, 0.425);

$font: white;
$searchedFont: rgba(206, 206, 206, 0.74);
